:root{
    font-size: 62.5%;

    --primary-color: #121214;
    --secondary-color: #ff0000;
    --tertiary-color: #A83538;

    --gray-800: #202024;
}

*{
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

body{
    background-color: var(--primary-color);
  
    -webkit-font-smoothing: antialiased;
    color: #fff;
  }

body,
input,
textarea,
button{
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

a{
  text-decoration: none;
  color: #fff;
}

/* MEDIA QUERIES */
@media(max-width: 768px){
  html{
      font-size: 87.45%;
  }
}